body {
  max-width: 100%;
}

img {
  max-width: 250px;
}

.header,
footer {
  background-color: rgb(83, 155, 214);
  color: rgb(255, 255, 255);
}

.navigation {
  padding: 10px;
}

.header a.active {
  color: #ffd700;
  font-weight: bold;
  border-bottom: 2px solid #ffd700;
}

.header a:hover {
  color: #ffd700;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
